<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appleyk.db.dao.mapper.CommodityStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.appleyk.db.dao.entity.CommodityStock">
        <id column="id" property="id" />
        <result column="commodity_code" property="commodityCode" />
        <result column="commodity_name" property="commodityName" />
        <result column="inventory" property="inventory" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, commodity_code, commodity_name, inventory, version, create_time, update_time
    </sql>

    <update id="reduce">
         update t_commodity_stock set inventory = inventory -1 where
         commodity_code = #{code}
    </update>

    <update id="reduce2">
         update t_commodity_stock set inventory = inventory -1,version = version+1 where
         commodity_code = #{code} and version = #{version}
    </update>

</mapper>
