<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.appleyk.db.dao.mapper.ResourceLockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.appleyk.db.dao.entity.ResourceLock">
        <id column="id" property="id" />
        <result column="resourc_name" property="resourcName" />
        <result column="thread_name" property="threadName" />
        <result column="server_address" property="serverAddress" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, resourc_name, thread_name, server_address, create_time
    </sql>

</mapper>
